/*
	Author:				    Pixel Pioneers (Andrew, Elvin, Riley, Landon, Roy Robinson Jr III) 
	Creation Date:		11-11-2023
	Last revised:		  12-4-2023
	Assignment:			  Website Project

  Primary Page Author: Riley Hayden
*/

:root {
  --bg-color: white;
  --txt-color: black;
  --nav-bg-color: lightgray;
  --nav-hover-txt-color: #FA0086;
  --border-color: #CEAB59;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 4vw;
  height: 2.1vw;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--border-color);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.65vw;
  width: 1.65vw;
  left: 6%;
  bottom: 12%;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.85vw);
  -ms-transform: translateX(1.85vw);
  transform: translateX(1.85vw);
  background-color: var(--bg-color);
}

/* Rounded sliders */
.slider.round {
  border-radius: 1.8vw;
}

.slider.round:before {
  border-radius: 50%;
} 
    
.title {
  color: var(--txt-color);
  margin-top: 2%;
  font-family: 'Montserrat', sans-serif;
  font-size: 350%;
  text-align: center;
}
    
.subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 210%;
 text-align: center;
  padding-top: 1em;
}

body {
  width: 80%;
  background-color: var(--bg-color);
  margin: 0 10% 0 10%;
  font-size: 1.03vw;
  font-family: 'Open Sans', sans-serif;
  color: var(--txt-color);
}

header {
  
  background-color: var(--nav-bg-color);
  width: 100%;
  margin: 0;
  padding: 0;
}

.logo {
  display: block;
  width: 20%;
  margin: 0 40% 0 40%;
}

nav {
  color: var(--txt-color);
  position: sticky;
  top: 0;
  box-sizing: border-box;
  background-color: var(--nav-bg-color);
  width: 100%;
  margin: 0;
  padding: 0.5% 0 1% 0;
  text-align: center;
}

nav a {
  border-bottom-left-radius: .3em;
  border-bottom-right-radius: .3em;
  border-bottom: 0.25em solid var(--txt-color);
  border-top-left-radius: .3em;
  border-top-right-radius: .3em;
  border-top-color: transparent;
  display: inline;
  text-align: center;
  margin-inline: 3.4em;
  font-size: 130%;
  padding: 0.1em;
  font-weight: 600;
}

nav a:link, nav a:visited {
  text-decoration: none;
  color: var(--txt-color);
  background-color: transparent;
}

nav a:hover, nav a:active, .current {
  color: var(--nav-hover-txt-color);
  background-color: transparent;
  border-bottom-color: var(--border-color);
}
    
.container {
  box-sizing: border-box;
  margin: 0;
  border: 0.3em solid var(--border-color);
  border-top: 0;
  border-bottom: 0;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
}

#image-container {
  width: 80%;
  margin: 0 auto;
}

#image-container img {
  width: 100%;
  height: auto;
  border: 0.3em dashed var(--border-color);
  border-radius: 1em;
  padding: 0;
}

div {
  text-align: center;
}

.section-one{
  margin: 0 0.4em;
  font-size: 168%;
}

.section-two{
  margin: 0 2em;
  font-size: 168%;
  text-align: center;
}


.review{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  text-align: center;
}

a{ 
  color: var(--border-color);
}

a:hover, a:active, .current {
  color: var(--nav-hover-txt-color);
  background-color: transparent;
  border-bottom-color: var(--border-color);
}

footer {
  height: 2rem;
  text-align: center;
  padding: 1% 0 0 0;
  margin: -9% 0 0 0;
  position: static;
  background-color: var(--nav-bg-color);
  color: var(--txt-color);
  font-size: 120%;
  font-weight: 600;
}

@media (max-width: 1100px) {
  /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 5.8vw;
  height: 2.7vw;
}

.slider:before {
  height: 2vw;
  width: 2.1vw;
  left: 6%;
  bottom: 12%;
}

input:checked + .slider:before {
  -webkit-transform: translateX(3vw);
  -ms-transform: translateX(3vw);
  transform: translateX(3vw);
}

/* Rounded sliders */
.slider.round {
  border-radius: 2vw;
}

.slider.round:before {
  border-radius: 50%;
} 
    
.title {
  margin-top: 3%;
  font-size: 360%;
}
    
.subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 280%;
 text-align: center;
  margin-top: -3%;
}

body {
  width: 90%;
  margin: 0 5% 0 5%;
  font-size: 1.3vw;
}

header {
  width: 100%;
  margin: 0;
  padding: 0;
}

.logo {
  width: 30%;
  margin: 0 35% 0 35%;
}

nav {
  margin: -0.005% 0;
  padding: 1% 0 1.5% 0;
}

nav a {
  margin-inline: 1.9em;
  font-size: 140%;
}

.container {
  border: 0.4em solid var(--border-color);
  border-top: 0;
  border-bottom: 0;
}

#image-container {
  width: 80%;
  margin: 0 auto ;
}

.section-one{
  margin: 0 3em;
  font-size: 185%;
}

.section-two{
  margin: 0 3em;
  font-size: 185%;
  text-align: center;

}

.review{
  font-family: 'Montserrat', sans-serif;
  font-size: 200%;
  text-align: center;
}

footer {
  height: 1.5em;
  padding: 1% 0 0 0;
  margin: -4% 0 0 0;
  font-size: 170%;
  font-weight: 600;
}
}

@media(max-width: 700px){
  /* The switch - the box around the slider */
.switch {
width: 14vw;
height: 7vw;
}

.slider:before {
height: 5.4vw;
width: 5.4vw;
left: 6%;
bottom: 11%;
}

input:checked + .slider:before {
-webkit-transform: translateX(6.9vw);
-ms-transform: translateX(6.9vw);
transform: translateX(6.9vw);
}

/* Rounded sliders */
.slider.round {
border-radius: 4vw;
}

.slider.round:before {
border-radius: 50%;
}

.title {
margin-bottom: 5%;
font-size: 400%;
}

.subtitle {
font-size: 350%;
margin-top: -3%;
}

body {
width: 100%;
margin: 0;
font-size: 2.2vw;
}

header {
padding-bottom: 5%;
}

.logo {
width: 40%;
margin: 0 30% 0 30%;
}

nav {
margin: -0.1% 0;
padding: 2.5% 0 2.8% 0;
}

nav a {
margin-inline: 0.2em;
font-size: 180%;
}

.container {
border: 0.7em solid var(--border-color);
border-top: 0;
border-bottom: 0;
}

#image-container {
width: 80%;
margin: 0 auto ;
}

.section-one{
margin: 0 1em;
font-size: 240%;
line-height: 1.4em;
}

.section-two{
  margin: 0 1em;
  font-size: 240%;
  line-height: 1.4em;
}

.review{
font-family: 'Montserrat', sans-serif;
font-size: 350%;
text-align: center;
}

footer {
  height: 1.6em;
  padding: 0.4em 0 0 0;
  margin: 0;
  font-size: 260%;
  font-weight: 600;
}
}
