/*
	Author:				    Pixel Pioneers (Andrew, Elvin, Riley, Landon, Roy Robinson Jr III) 
	Creation Date:		10-31-2023
	Last revised:		  11-10-2023
	Assignment:			  Website Project

  Primary Page Author: Landon Stott
*/

:root {
  --bg-color: white;
  --txt-color: black;
  --nav-bg-color: lightgray;
  --nav-hover-txt-color: #FA0086;
  --border-color: #CEAB59;
}

.title {
  color: var(--txt-color);
  margin-top: 10%;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 300%;
  text-align: center;
}

.subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  text-align: center;
}

body {
  width: 80%;
  background-color: var(--bg-color);
  margin: 0 10% 0 10%;
}

header {
  float: center;
  background-color: var(--nav-bg-color);
  width: 100%;
  margin: 0;
  padding: 0;
}

.logo {
  display: block;
  width: 20%;
  margin: 0 40% 0 40%;
}

nav {
  color: var(--txt-color);
  position: sticky;
  top: 0;
  box-sizing: border-box;
  float: center;
  background-color: var(--nav-bg-color);
  width: 100%;
  margin: 0;
  padding: 0.5% 0 1% 0;
}

nav a {
  border-bottom-left-radius: .3em;
  border-bottom-right-radius: .3em;
  border-bottom: 0.25em solid var(--txt-color);
  border-top-left-radius: .3em;
  border-top-right-radius: .3em;
  border-top-color: transparent;
  display: inline;
  text-align: center;
  margin-inline: 3.6em;
  font-size: 130%;
  padding: 0.1em;
}

nav a:link, nav a:visited {
  text-decoration: none;
  color: var(--txt-color);
  background-color: transparent;
}

nav a:hover, nav a:active, .current {
  color: var(--nav-hover-txt-color);
  background-color: transparent;
  border-bottom-color: var(--border-color);
}

.container {
  box-sizing: border-box;
  border: 0.3em solid var(--border-color);
  border-top: 0;
  border-bottom: 0;
  margin: -10% 0 -3.2% 0;
  width: 100%;
}

.image {
  width: 25%;
}

#first-section {
  margin: 0 2em;
  font-size: 168%;
}

#summary {
  float: left;
  text-align: center;
  margin-left: 0.9em;
  padding: 0 1em 0 0;
}

#quote {
  float: left;
  text-align: center;
  margin-left: -0.7em;
  font-size: 77%;
}

.image-right {
  float: right;
  margin: 0;
}

#second-section {
  margin: 0 1em;
  text-align: center;
}

.img-left {
  float: left;
  margin: 0;
}

footer {
  height: 2rem;
  text-align: center;
  padding: 1% 0 0 0;
  margin: 0;
  position: static;
  background-color: var(--nav-bg-color);
  color: var(--txt-color);
  font-size: 120%;
  font-weight: 600;
}