:root {
  --bg-color: white;
  --txt-color: black;
  --nav-bg-color: lightgray;
  --nav-hover-bg-color: #CEAB59;
  --nav-hover-txt-color: #FA0086;
}

.title {
  color: var(--txt-color);
  margin-top: 10%;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 3rem;
  text-align: center;
}

.subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  text-align: center;
}

body {
  background-color: var(--bg-color);
  float: center;
  margin: 0;
}

header {
  float: center;
  background-color: var(--nav-bg-color);
  width: 100%;
  margin: 0;
  padding: 1% 0 1% 0;
}

.logo {
  display: block;
  float: center;
  height: 10rem;
  margin: 0 0 0 42%;
}

nav {
  color: var(--txt-color);
  position: sticky;
  top: 0;
  box-sizing: border-box;
  float: center;
  background-color: var(--nav-bg-color);
  width: 100%;
  margin: 0;
  padding: 0.5% 0 1% 0
}

nav a {
  border-bottom-left-radius: .3em;
  border-bottom-right-radius: .3em;
  border-bottom: 0.25em solid var(--txt-color);
  border-top-left-radius: .3em;
  border-top-right-radius: .3em;
  border-top-color: transparent;
  display: inline;
  text-align: center;
  width: 8em;
  margin-inline: 5em;
  font-size: 130%;
  padding: 0.1em;
}

nav a:link, nav a:visited {
  text-decoration: none;
  color: var(--txt-color);
  background-color: transparent;
}

nav a:hover, nav a:active, .current {
  color: var(--nav-hover-txt-color);
  background-color: var(--nav-hover-bg-color);
  border-bottom-color: var(--nav-hover-txt-color);
}

h2 {
  margin-bottom: 80%;
}